.icon-text{
	font-family: GatwickBold;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 10px;
}

.skills .card {
	width: 275px;
}

.skill-heading {
	height: 50px;
}

.skills-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;

}

.skills-list li {
	width: 250px;
}

li .icon {
	height: 30px;
}