.technical-skills {
	display: flex;
	flex-direction: column;
	padding: 100px 20px;
	align-items: center;
	gap: 50px;
}

.technical-skills h1 {
	font-family: GatwickBold;
}


.skills-card-container {
	display: flex;
	gap: 120px;
}

.skills-card {
	border: 2px solid var(--primary);
	border-radius: var(--radius);
	padding: 20px;
	padding-top: 0;
	width: minmax(300px, 400px);
	box-shadow: 0 0 80px 0 var(--primary-shadow);

	display: flex;
	flex-direction: column;
	align-items: center;
}

.icon-text{
	font-family: GatwickBold;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 10px;
}


.skills-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	border: 1px solid var(--foreground);
	border-radius: var(--radius);
	padding: 5px 10px;
}

h3 .icon {
	height: 40px;
}

li .icon {
	height: 30px;
}