::-webkit-scrollbar {
  display: none;
}

body {
  line-height: 1.5;
  color: var(--foreground);
  background-color: var(--background);
  font-family: GatwickRegular, sans-serif;
  transition: background-color 0.5s, color 0.5s;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  display: flex;
  align-items: center;
  color: var(--foreground);
  font-family: GatwickBold, sans-serif;
  text-decoration: none;
  transition: color 0.5s;

  cursor: pointer;
}

h3 {
  font-family: GatwickBold, sans-serif;
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid var(--foreground);
  border-radius: var(--radius);
  padding: 5px 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

p {
  font-family: GatwickSans;
}

.bold-text {
  font-family: GatwickBold;
}

.icon {
	height: 40px;
}

.transparent-link {
  color: var(--primary);
}

.outline-link {
  text-align: center;
  border: 2px solid var(--foreground);
  padding: 10px 20px;
  border-radius: var(--radius);
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.5s, color 0.5s;
}

.opaque-link {
  font-family: GatwickBold, sans-serif;
  padding: 10px 20px;
  border-radius: var(--radius);
  background-color: var(--primary);
  color: var(--background);
  border: 2px solid var(--foreground);
  transition: background-color 0.5s, color 0.5s;
}

.opaque-link:hover {
  background-color: var(--background);
  color: var(--foreground);
}

.outline-link:hover {
  background-color: var(--primary);
  color: var(--background);
}

.transparent-link:hover {
  color: var(--foreground);
}

.section {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  border-bottom: 2px solid var(--foreground);
  width: 90%;
  padding-bottom: 60px;
}

.section h1 {
  font-family: GatwickBold;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.vertical-card-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  border: 2px solid var(--border);
  border-radius: var(--radius);
  padding: 20px;
  padding-top: 0;
  box-shadow: 0 0 80px 0 var(--primary-shadow);

  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 250px;
}


.vertical-card-container .card {
  max-width: 800px;
}

@font-face {
  font-family: GatwickBold;
  src: url(assets/fonts/PPGatwick-Bold.otf);
}

@font-face {
  font-family: GatwickSans;
  src: url(assets/fonts/PPPangramSans-Medium.otf);
}

@font-face {
  font-family: GatwickRegular;
  src: url(assets/fonts/PPGatwick-Ultralight.otf);
}

@layer base {
  :root {
    --background: rgb(255, 255, 255);
    --foreground: rgb(22, 18, 47);
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --primary: rgb(100, 219, 255);
    --primary-foreground: rgba(100, 250, 255, 0.2);
    --primary-shadow: rgba(0, 0, 0, 0.2);
    --primary-underline: rgba(100, 250, 255, 0.7);
    --border: rgb(0, 0, 0);
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --radius: 20px;
  }

  .dark {
    --background: rgb(22, 18, 47);
    --foreground: rgb(255, 255, 255);
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --primary: rgb(100, 250, 255);
    --primary-foreground: rgba(100, 250, 255, 0.2);
    --primary-shadow: rgba(100, 250, 255, 0.2);
    --primary-underline: rgba(100, 250, 255, 0.7);
    --border: rgb(100, 250, 255);
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}
