::-webkit-scrollbar {
  display: none;
}

body {
  line-height: 1.5;
  color: var(--foreground);
  background-color: var(--background);
  font-family: GatwickRegular, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  display: flex;
  align-items: center;
  color: var(--foreground);
  font-family: GatwickBold, sans-serif;
  text-decoration: none;
  transition: color 0.2s;

  cursor: pointer;
}

h3 {
  font-family: GatwickBold, sans-serif;
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid var(--foreground);
  border-radius: var(--radius);
  padding: 5px 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

p {
  font-family: GatwickSans;
}

.bold-text {
  font-family: GatwickBold;
}

.icon {
	height: 40px;
}

.transparent-link {
  color: var(--primary);
}

.outline-link {
  border: 2px solid var(--foreground);
  padding: 10px 20px;
  border-radius: var(--radius);
}

.opaque-link {
  font-family: GatwickBold, sans-serif;
  padding: 10px 20px;
  border-radius: var(--radius);
  background-color: var(--primary);
  color: var(--primary-foreground);
  border: 2px solid var(--foreground);
}

.opaque-link:hover {
  background-color: var(--background);
  color: var(--foreground);
}

.outline-link:hover {
  background-color: var(--primary);
  color: var(--primary-foreground);
}

.transparent-link:hover {
  color: var(--foreground);
}

.section {
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 40 30px;
  align-items: center;
  gap: 50px;

  border-bottom: 2px solid var(--foreground);
  width: 80%;
  padding-bottom: 40px;
}

.section h1 {
  font-family: GatwickBold;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.vertical-card-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  border: 2px solid var(--primary);
  border-radius: var(--radius);
  padding: 20px;
  padding-top: 0;
  box-shadow: 0 0 80px 0 var(--primary-shadow);

  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
}


.vertical-card-container .card {
  max-width: 1200px;
  gap: 20px;
}

@font-face {
  font-family: GatwickBold;
  src: url(assets/fonts/PPGatwick-Bold.otf);
}

@font-face {
  font-family: GatwickSans;
  src: url(assets/fonts/PPPangramSans-Medium.otf);
}

@font-face {
  font-family: GatwickRegular;
  src: url(assets/fonts/PPGatwick-Ultralight.otf);
}

@layer base {
  :root {
    --background: white;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --radius: 20px;
  }

  .dark {
    --background: #16122f;
    --foreground: white;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --primary: rgb(100, 250, 255);
    --primary-foreground: rgba(100, 250, 255, 0.2);
    --primary-shadow: rgba(100, 250, 255, 0.2);
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}
